@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 112.5%;
}

body {
  font-family: "Domine", serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--color-gray-900);
  color: var(--color-gray-white);
}
