@import "../../styles/mixins";

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.Heading1,
.Heading2,
.Heading3,
.Heading4,
.Heading5,
.Heading6 {
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  &.uppercase {
    text-transform: uppercase;
    font-weight: 900;
  }
}

h1,
.Heading1 {
  $h1: (
    900: 4.3125rem,
    1400: 5.3125rem,
  );
  @include variable-font-size($h1);
}

h2,
.Heading2 {
  $h2: (
    900: 3.4375,
    1400: 4.4375rem,
  );
  @include variable-font-size($h2);
}

h3,
.Heading3 {
  font-size: 2.75rem;
}

h4,
.Heading4 {
  font-size: 2.1875rem;
}

.Heading5 {
  font-size: 1.75rem; // 20px
  line-height: 1.6em;
  font-weight: var(--font-weight-bold);
}

.Heading6 {
  font-size: 1.533rem;
  font-weight: var(--font-weight-bold);
}

.Subtitle1,
.Subtitle2 {
  &.uppercase {
    text-transform: uppercase;
  }
}

h5,
.Subtitle1 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.6em;
}

h6,
.Subtitle2 {
  font-size: 1.25rem;
  line-height: 1.6em;
  font-weight: var(--font-weight-medium);
}

p,
.Body1,
.Body2 {
  line-height: 1.6em;
  font-weight: normal;
}

p,
ul,
ol,
.Body1 {
  font-size: 1.125rem;
  line-height: 1.6em;
}

.Body2 {
  font-size: 0.875rem;
}

.Caption {
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
}

.Overline {
  font-size: 0.875rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: bold;
}

// Alignment

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
